<h1>Chaos unleashed</h1>
<audio src="https://www.youtube.com/watch?v=L5HYfRiQJBg" preload="auto" controls autoplay></audio>
<script type="text/javascript" >
  setTimeout(function() {
    return document.location = '/';
  }, 45000);
</script>
